annotated-doc
annotated-types
anyio
bcrypt
blinker
cffi
click
colorama
cryptography
dnspython
ecdsa
fastapi
Flask
Flask-Bcrypt
flask-cors
h11
idna
itsdangerous
Jinja2
MarkupSafe
npm
optional-django
pyasn1
pycparser
pydantic
pydantic_core
pymodbus
pymongo
pyodbc
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
Werkzeug
PyJWT
