.priority-badge {
  padding: 0.4vh 0.8vh;
  border-radius: 1.2vh;
  font-size: 1.2vh;
  font-weight: bold;
  text-transform: uppercase;
}

.priority-badge.high {
  background-color: #dc3545;
  color: white;
}

.priority-badge.medium {
  background-color: #ffc107;
  color: black;
}

.priority-badge.low {
  background-color: #28a745;
  color: white;
}

.task-details {
  padding: 2vh;
}

.task-detail-row {
  margin-bottom: 1.5vh;
  display: grid;
  flex-direction: column;
}



.task-detail-value {
  font-size: 1.6vh;
}

.task-dates {
  display: flex;
  gap: 2vh;
}

.task-dates .task-detail-row {
  flex: 1;
}

.task-description {
  background-color: #f8f9fa;
  border-radius: 0.4vh;
}

.task-status {
  display: inline-block;
  padding: 0.6vh 1.2vh;
  border-radius: 1.5vh;
  font-weight: bold;
}

.status-pending {
  background-color: #ffc107;
  color: #000;
}

.status-in-progress {
  background-color: #17a2b8;
  color: #fff;
}

.status-done {
  background-color: #28a745;
  color: #fff;
}